body {
  background: #eee;
  font-family: sans-serif;
  margin:auto;
  padding : 200px;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding : 10px;
}

.title {
  background: #e3f4ff;
  padding : 20px;
}

.content {
  background: #e3f4ff;
  padding : 20px;
  margin-bottom : 10px;
}

.button-container {
  background: #e3f4ff;
  padding : 20px;
  padding : 10px;
  text-align : center;
}

button {
  background: white;
  border: 1px solid #eee;
  margin : auto;
  text-align : center;
  display : block;
}